---
import { Image } from "astro:assets";

import Hero from "@/assets/hero.png";
import Binus from "@/assets/logos/binus.png";
import Gdsc from "@/assets/logos/gdsc.png";
import Google from "@/assets/logos/google.png";
import Mitra from "@/assets/logos/mitra-netra.png";

import Contact from "../Contact.astro";
---

<section
  class="relative mx-[30px] my-[10px] flex flex-col gap-8 rounded-2xl bg-gradient-to-b from-wonder-purple-transparent from-0% to-100% py-[120px] pl-11 font-jakarta-sans text-wonder-text">
  <div class="pl-[30px]">
    <h1 class="text-[74px] font-extrabold leading-[92px]">
      Discover <span class="text-wonder-purple">Wonder Reader:</span>
    </h1>

    <h2 class="text-[64px] font-extrabold leading-[110px]">
      a braille keyboard for <span class="text-wonder-purple">all</span>
    </h2>

    <p class="w-[568px] text-[28px] leading-[42px] opacity-80">
      The revolutionary braille keyboard meant for everyone to <span class="font-bold">learn</span> and <span
        class="font-bold">grow</span
      >.
    </p>
  </div>

  <div class="flex flex-col px-[30px] py-[10px]">
    <Contact />

    <p class="mb-5 mt-8 text-[25px] leading-[49px] opacity-60">Our wonderful partners!</p>

    <div class="flex w-auto items-center gap-3">
      <Image src={Gdsc} alt="Google Developer Student Clubs" class="h-[31px] w-[117px] grayscale" />

      <Image src={Mitra} alt="Mitra Netra Foundation" class="w-[58px] grayscale" />

      <Image src={Google} alt="Google" class="m-[14px] w-[90px] grayscale" />

      <Image src={Binus} alt="Binus University" class="mx-3 w-[95px] grayscale" />
    </div>
  </div>

  <Image src={Hero} alt="" class="absolute right-0 top-[-3.8px] h-[790px] w-[603px]" />
</section>
